In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'

headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64)"}

page = requests.get(url, headers=headers)

soup = BeautifulSoup(page.text, "html.parser")

In [3]:
table = soup.find("table", {"class": "wikitable sortable"})

In [4]:
headers = [th.text.strip() for th in table.find_all("th")]

In [5]:
rows = []
for tr in table.find_all("tr")[1:]:
    tds = tr.find_all("td")
    if len(tds) == len(headers):
        rows.append([td.text.strip() for td in tds])

In [6]:
df = pd.DataFrame(rows, columns=headers)

In [7]:
len(df)

100

In [8]:
display(df.head(20))

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"680,985",5.1%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"637,959",11.0%,"1,556,000","Seattle, Washington"
2,3,UnitedHealth Group,Healthcare,"400,278",7.7%,"400,000","Minnetonka, Minnesota"
3,4,Apple,Electronics industry,"391,035",2.0%,"164,000","Cupertino, California"
4,5,CVS Health,Healthcare,"372,809",4.2%,"259,500","Woonsocket, Rhode Island"
5,6,Berkshire Hathaway,Conglomerate,"371,433",1.9%,"392,400","Omaha, Nebraska"
6,7,Alphabet,Technology and cloud computing,"350,018",13.9%,"183,323","Mountain View, California"
7,8,ExxonMobil,Petroleum industry,"349,595",1.5%,"60,900","Spring, Texas"
8,9,McKesson Corporation,Health,"308,951",11.7%,"48,000","Irving, Texas"
9,10,Cencora,Pharmacy wholesale,"293,959",12.1%,"44,000","Conshohocken, Pennsylvania"
10,11,JPMorgan Chase,Financial services,"278,906",16.5%,"317,233","New York City, New York"
11,12,Costco,Retail,"254,453",5.0%,"333,000","Issaquah, Washington"
12,13,Cigna,Health insurance,"247,121",26.6%,"72,398","Bloomfield, Connecticut"
13,14,Microsoft,Technology and cloud computing,"245,122",15.7%,"228,000","Redmond, Washington"
14,15,Cardinal Health,Healthcare,"226,827",10.6%,"48,411","Dublin, Ohio"
15,16,Chevron Corporation,Petroleum industry,"202,792",0.9%,"45,298","Houston, Texas"
16,17,Bank of America,Financials,"184,992",11.9%,"213,193","Charlotte, North Carolina"
17,18,General Motors,Automotive industry,"187,442",9.1%,"162,000","Detroit, Michigan"
18,19,Ford Motor Company,Automotive industry,"184,992",5.0%,"171,000","Dearborn, Michigan"
19,20,Elevance Health,Healthcare,"177,011",3.3%,"103,679","Indianapolis, Indiana"